[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/manu/Escritorio/ANÁLISIS DE SENTIMIENTOS EN INFORMACIÓN TEXTUAL A NIVEL.pdf]
row=0
col=0

[/home/manu/Escritorio/Dropbox]
row=2
col=1

[/home/manu/Escritorio/Sentiment_analysis_aspect.pdf]
row=1
col=0

[Papelera]
row=3
col=1

[/home/manu]
row=1
col=1

