[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/manu/Escritorio/manu_lateral.tar.bz2]
row=4
col=1

[/home/manu/Escritorio/Dropbox]
row=2
col=1

[Papelera]
row=3
col=1

[/home/manu]
row=1
col=1

